@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap");

.intro-background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-overlay {
  background-color: black;
  height: 100px;
  opacity: 0.025;
  position: absolute;
  width: 100vw;
  height: 600px;
  z-index: 2;
}

.fade-in-slower {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

.fade-in-slow {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.fade-in-fast {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.contact-form {
  width: 600px;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.contact-form-container {
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-name {
  width: 1094px;
  height: 518px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 259px;
  font-weight: 900;
  line-height: 200px;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 0;
}

.intro-subheading {
  width: 960px;
  height: 32px;
  opacity: 0.95;

  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 15.33px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -100px;
  margin-bottom: 100px;
  padding: 0;
  z-index: 1;
}

.intro-background-color {
  background-color: #0383c1;
}

body {
  background-color: black;
  color: white;
}
.navbar-component-container {
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px auto 20px auto;
  text-decoration: none;
  font-family: Lato;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
}

.navbar-component-links {
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

h3,
h1 {
  font-family: Lato;
  color: black;
}

html {
  scroll-behavior: smooth;
}
