@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&display=swap");

.intro-background {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.intro-overlay {
  background-color: black;
  height: 100px;
  opacity: 0.025;
  position: absolute;
  width: 100vw;
  height: 600px;
  z-index: 2;
}

.portfolio-container {
  margin-top: 50px;
  display: grid;
  grid-template-rows: 6;
  grid-template-columns: 5;
  grid-template-areas:
    "header header header  header "
    "footer footer footer  footer ";
  row-gap: 45px;
  justify-items: center;
  align-items: center;
  text-align: center;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c4 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 10.5pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c2 {
  margin-left: 13.5pt;
  padding-top: 0pt;
  text-indent: -13.5pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  margin-left: 13.5pt;
  padding-top: 0pt;
  text-indent: -13.5pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center;
}
.c1 {
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c0 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10.5pt;
  font-family: "Times New Roman";
  font-style: normal;
}
.c8 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c9 {
  max-width: 540pt;
  padding: 18pt 36pt 18pt 36pt;
}
.c3 {
  background-color: black;
  color: white;
}
.c5 {
  margin-right: -9pt;
}
.c7 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.resume-page {
  display: flex;
  justify-content: center;
  margin-top: -50px;
  animation: fadeIn ease 10s;
  -webkit-animation: fadeIn ease 10s;
  -moz-animation: fadeIn ease 10s;
  -o-animation: fadeIn ease 10s;
  -ms-animation: fadeIn ease 10s;
}

.portfolio-card {
  border: white;
  width: 350px;
  height: 275px;
  font-family: Lato;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.portfolio-card2 {
  border: white;
  width: 350px;
  height: 275px;
  font-family: Lato;
  animation: fadeIn ease 9s;
  -webkit-animation: fadeIn ease 9s;
  -moz-animation: fadeIn ease 9s;
  -o-animation: fadeIn ease 9s;
  -ms-animation: fadeIn ease 9s;
}

.portfolio-card3 {
  border: white;
  width: 350px;
  height: 275px;
  font-family: Lato;
  animation: fadeIn ease 12s;
  -webkit-animation: fadeIn ease 12s;
  -moz-animation: fadeIn ease 12s;
  -o-animation: fadeIn ease 12s;
  -ms-animation: fadeIn ease 12s;
}

.portfolio-card4 {
  border: white;
  width: 350px;
  height: 275px;
  font-family: Lato;
  animation: fadeIn ease 15s;
  -webkit-animation: fadeIn ease 15s;
  -moz-animation: fadeIn ease 15s;
  -o-animation: fadeIn ease 15s;
  -ms-animation: fadeIn ease 15s;
}

.portfolio-card5 {
  border: white;
  width: 350px;
  height: 275px;
  font-family: Lato;
  animation: fadeIn ease 17s;
  -webkit-animation: fadeIn ease 17s;
  -moz-animation: fadeIn ease 17s;
  -o-animation: fadeIn ease 17s;
  -ms-animation: fadeIn ease 17s;
}

.portfolio-description {
  font-style: italic;
  font-size: 14px;
  color: rgb(187, 187, 187);
}

.portfolio-gitlink {
  font-size: 14px;
  color: rgb(207, 207, 207);
}

.portfolio-image {
  width: 350px;
}

.portfolio-thumbnail {
  background: white;
  height: 200px;

  border-bottom: 2px solid black;
}

.fade-in-slower {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

.fade-in-slow {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

.fade-in-fast {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.contact-myinfo {
  text-align: center;
  color: white;
}

.contact-form {
  width: 600px;

  text-align: center;
  display: flex;
  flex-direction: column;
}

.contact-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.intro-name {
  width: 1094px;
  height: 518px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 259px;
  font-weight: 900;
  line-height: 200px;
  text-transform: uppercase;
  margin-top: 50px;
  padding: 0;
}

.intro-subheading {
  width: 960px;
  height: 32px;
  opacity: 0.95;

  color: #ffffff;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 15.33px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: -100px;
  margin-bottom: 100px;
  padding: 0;
  z-index: 1;
}

.resume-container {
  justify-content: center;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.intro-background-color {
  background-color: #0383c1;
}

.mywork-header,
.aboutme-header {
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  -moz-animation: fadeIn ease 5s;
  -o-animation: fadeIn ease 5s;
  -ms-animation: fadeIn ease 5s;
  color: white;
  text-align: center;
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 0px;
}

body {
  background-color: black;
  color: white;
}
.navbar-component-container {
  background-color: black;
  color: white;
  text-align: center;
  margin: 20px auto 20px auto;
  text-decoration: none;
  font-family: Lato;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.navbar-component-links {
  margin-left: 30px;
  margin-right: 30px;
}

a {
  text-decoration: none;
  color: white;
}

h3,
h1 {
  font-family: Lato;
}

html {
  scroll-behavior: smooth;
}
